/**
 * - Settings: Typography -
 * ========================
 */
.text-normal{
  font-family:'Roboto', sans-serif;
  font-weight: normal;
}
.text-medium{
  font-family:'Roboto-Medium', sans-serif;
  font-weight: normal;
}
.text-bold{
  font-family:'Roboto-Bold', sans-serif;
  font-weight: normal;
}
.text-light{
  font-family:'Roboto-Light', sans-serif;
  font-weight: normal;
}
.text-heavy{
  font-family:'Roboto-Heavy', sans-serif;
  font-weight: normal;
}
.text-semibold{
  font-family:'Roboto-Semibold', sans-serif;
  font-weight: normal;
}


body{
  .text-normal;
  //word-spacing: -5px;
}

a{
  outline: none!important;
}

b, strong{
  .text-bold;
}