/**
 * ===================================
 * - tpl Template Builder Stylesheet -
 * ===================================
 */

@vendor-uri-base: '../../vendors';
@image-uri-base: '../../assets/images';
@font-uri-base: '../../assets/fonts';

@namespace: tpl;

/**
 * =======================================
 * - Third-parties libraries & overrides -
 * =======================================
 */
@import 'overrides/bootstrap.less';
@import 'overrides/font-awesome.less';

/**
 * ============
 * - Settings -
 * ============
 */
@import 'settings/variables.less';
@import 'settings/colors.less';
@import 'settings/fonts.less';
@import 'settings/typography.less';
@import 'settings/helpers.less';

/**
 * ==============
 * - Components -
 * ==============
 */
@import 'components/button.less';


/**
 * ===========
 * - Modules -
 * ===========
 */
@import 'modules/application.less';
@import 'modules/header.less';
@import 'modules/sidebar.less';
@import 'modules/component.less';


/**
 * ===========
 * - Layouts -
 * ===========
 */
@import 'layouts/base.less';

/**
 * =========
 * - Pages -
 * =========
 */
@import 'pages/iframe.less';