/**
 * - Component: Button -
 ***********************
 */

.@{namespace}.button{
  .btn();
}

.@{namespace}.dropdown.button{
  position: relative;

  &{
    >.text{}
    >.menu{
      display: none;

      position: absolute;
      top: 100%;
      right: -8px;
      margin-top: 6px;

      .bg-white;
      padding: 4px 0;
      border: 1px solid #EEEEEE;
      border-radius: 4px;

      border-top-right-radius: 0;

      //pointer
      &:after{
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 0 8px 8px;
        border-color: @color-white transparent;
        display: block;
        width: 0;
        z-index: 1;
        top: -7px;
        right: 8px;
      }
      &:before{
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 0 8px 8px;
        border-color: @color-silver transparent;
        display: block;
        width: 0;
        z-index: 0;
        top: -8px;
        right: 8px;
      }

      >.item{
        &{
          text-decoration: none;
          .text-(#333333);
          font-size: 14px;
          padding: 0 16px;
          line-height: 32px;

          display: block;
          .text-left;
        }

        &:hover,
        &.active{
          background-color: rgba(0,0,0,0.1);
        }
      }

      >.divider{
        height: 1px;
        background-color: rgba(0,0,0,0.1);
      }
    }
  }

 &.open{
   >.menu{
     display: block;
     z-index: 1;
   }
 }
}