/**
 * - Layout: Base -
 * ================
 */

.layout-base{}

html{
  position: relative;
}

html, body{
  min-height: 100%;
}

body{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

a{
  &{}
  &:hover{
    opacity: 0.85;
  }
}

.layout-base{
  background-color: #FFFFFF;

  #wrapper{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    #application{
      background-color: #f0f9fb;

      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }
}