/**
 * - Module: Application -
 *************************
 */

#application{
  overflow: scroll;

  >#main{
    padding: 8px;

    position: absolute;
    top: 48px;
    left: 300px;
    right: 0;
    bottom: 0;


  }
}