/**
 * - Module: Component -
 ***********************
 */

.@{namespace}.component{
  .bg-white;
  border-radius: 8px;
  border: 1px solid #EEEEEE;
  //box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 8px;

  >.header{
    padding: 8px;

    >.tools{
      >.button{
        .text-(#333333);
        padding: 0px 4px;
        line-height: 18px;
        min-width: 20px;
      }
    }
    >.title{}
  }
  >.body{
    padding: 8px;

    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
  }
  >.footer{
    padding: 8px;
  }

  >div+div{
    border-top:1px solid #EEEEEE;
  }
}

.@{namespace}.component{
  &.collapsed{
    >.body{
      overflow: hidden;
      height: 0;
      padding: 0;
      border-top: none;
    }
  }
}