/**
 * - Module: Header -
 ********************
 */

.@{namespace}.header{
  .bg-(#FFFFFF);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.23);
  height: 48px;
  line-height: 48px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 1;

  #header__logo{
    .left;
    width: 300px;
    padding: 0 16px;
    height: 48px;
    line-height: 48px;

    .text-medium;
    font-size: 24px;
    .text-center;
  }

  #header__left{
    .left;
    border-left: 1px solid #EEEEEE;

    >.list{
      >.item{
        &{
          display: block;
          .left;
          padding: 0 16px;
          font-size: 14px;
          text-decoration: none;
          .text-(#333);
        }
        &.active,
        &:hover{
          background-color: #ecf7ff;
        }
      }
    }
  }

  #header__right{
    .right;

    >.list{
      >.item{
        &{
          display: block;
          .left;
          padding: 0 16px;
          font-size: 14px;
          text-decoration: none;
          .text-(#333);
        }
        &.active,
        &:hover{
          background-color: #ecf7ff;
        }
      }
    }
  }
}