/**
 * - Module: Sidebar -
 *********************
 */

.@{namespace}.sidebar{
  .bg-(#FFFFFF);
  //position: absolute;
  //top: 48px;
  //left: 0;
  //bottom: 0;


  .left;
  left: 300px;
  margin-top: 48px;

  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);

  padding: 16px;

  .@{namespace}.widget{
    >.header{
      >.title{
        height: 32px;
        color: #333;
        //font-family: Roboto;
        font-size: 24px;
        font-weight: 300;
        line-height: 32px;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    >.body{}
  }

  .@{namespace}.widget[data-type="1"]{
    >.header{}
    >.body{
      >.list{
        >.item{
          &{
            .text-(#333333);
            font-size: 16px;
            height: 32px;
            line-height: 32px;
            text-decoration: none;

            display: block;
          }
          &:hover,
          &.active{

          }
        }
      }
    }
  }
}